.messageTextArea::placeholder{
    text-align: center;
}

.messageTextArea{
    outline: none;
    max-width: 750px;
    min-width: 750px;
    max-height: 60px;
    min-height: 60px;
    font-size: 17px;
    background-color: white;
}

.newTextArea{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
}

.textAreaContainer{
    display: flex;
    align-items: center;
}

.textAreaContainer > input{
    width: 150px;
    height: 60px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgb(54, 63, 73);
    outline : none;
    text-align: center;
    transition: 0.5s;
    font-weight: 600;
    font-size: 23px;
    cursor: pointer;
}

.textAreaContainer > input:hover{
    color: #fff;
    background-color: rgb(54, 63, 73);  
    border: 1.4px solid rgb(54, 63, 73);
}

.errorContainer{
    color: rgb(255, 67, 67);
}

.postTextArea{
    outline: none;
    max-width: 700px;
    min-width: 700px;
    max-height: 50px;
    min-height: 50px;
    font-size: 17px;
    background-color: white;
}

.postTextArea::placeholder{
    text-align: center;
}

.errorContainer > span{
    font-size: 16px;
}

.logInError{
    position: relative;
}

.logIn{
    width: 427px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.disabled{
    display: none;
}

.logInputContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logInput{
    width: 300px;
    height: 30px;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(40, 41, 46);
}

.logInputContainer{
    position: relative;
    padding-left: 10px;
}

.logInError::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    width: 20px;
    height: 20px;
    background: url('../../images/warning.png') no-repeat;
    background-size: cover;
}

.error{
    border: 2px solid rgb(255, 67, 67);
}