.loginPage{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.passwordHead{
    display: flex;
}

.formSummaryError{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(255, 62, 62);
    color:rgb(255, 62, 62) ;
    border-radius: 15px;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.forgotPassword{
    margin-top : 10px;
    font-size: 18px;
}

.forgot{
    margin-right: 5px;
}